*{
    margin: 0;
    padding: 0;
    border: 0;
    /* border: 1px solid red; */
    overflow-x: hidden;
    overflow-y: hidden;
}
p, h1, option{
    font-family: 'Oswald', sans-serif;
    
}

.bara-sus{
    width: 100vw;
    height: 9vh;
   
    position: absolute;
}
.uname{
    padding-left: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 9vh;
    text-align: center;
}

.logout-img{
    padding-left: 30px;
    padding-top: 10px;
    height: 9vh;
    width: 100px;
}
.logout-img img{
    height: 7vh;

}
.cover{
    width: 100vw;
    height: 100vh;
    
}
.imagine-bg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 0% 50%;
    position: absolute;
    z-index: -1; 
}




.spate{
    width: 50vw;
    
}

.titlu{
    margin-top: 10vh;
    color: white;
    text-align: center;

}
.abonamente{
    height: 80vh;
    overflow-y: scroll !important;
}
::-webkit-scrollbar {
    display: none;
}
.abonament{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;

}
.abonament:hover{
    transform: scale(1.02);
}
.addbtn:active{
    transform: scale(1.03);
}
.abonament p{
    margin: 0px;
    
}
.abonament h1{
    text-align: center;
    font-size: 70px;
}
.abonament .dr{
    padding: 10px;
}
.abonament .dr p{
    border: 5px solid black;
    border-radius: 5px;
    padding: 2px;
    font-size: 20px;
}





@media screen and (max-width: 650px) {
    
    .logout-img{
        padding-top: 5px;
    }
    .spate{
        width: 90vw;
    }


}

@media screen and (max-width: 550px) {

}

@media screen and (max-width: 370px) {

}